<div class="container">
        <h1>Car Sales DataCARIndex</h1>
        <table border="1">
            <tr>
                <th>Invoice Number</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Sales in Thousands</th>
                <th>Year Resale Value</th>
                <th>Vehicle Type</th>
                <th>Price in Thousands</th>
                <th>Engine Size</th>
                <th>Horsepower</th>
                <th>Wheelbase</th>
                <th>Width</th>
                <th>Length</th>
                <th>Curb Weight</th>
                <th>Fuel Capacity</th>
                <th>Fuel Efficiency</th>
                <th>Latest Launch</th>
                <th>Power Perf Factor</th>
            </tr>
            <tr>
                <td>{{DataCARIndex.InvoiceNo}}</td>
                <td>{{DataCARIndex.Manufacturer}}</td>
                <td>{{DataCARIndex.Model}}</td>
                <td>{{DataCARIndex.Sales_in_thousands}}</td>
                <td>{{DataCARIndex.__year_resale_value}}</td>
                <td>{{DataCARIndex.Vehicle_type}}</td>
                <td>{{DataCARIndex.Price_in_thousands}}</td>
                <td>{{DataCARIndex.Engine_size}}</td>
                <td>{{DataCARIndex.Horsepower}}</td>
                <td>{{DataCARIndex.Wheelbase}}</td>
                <td>{{DataCARIndex.Width}}</td>
                <td>{{DataCARIndex.Length}}</td>
                <td>{{DataCARIndex.Curb_weight}}</td>
                <td>{{DataCARIndex.Fuel_capacity}}</td>
                <td>{{DataCARIndex.Fuel_efficiency}}</td>
                <td>{{DataCARIndex.Latest_Launch}}</td>
                <td>{{DataCARIndex.Power_perf_factor}}</td>
            </tr>
        </table>
    </div>