<div class="container">
        <h1>Car Sales invoiceFORM</h1>
        <table border="1">
            <tr>
                <th>Invoice Number</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Sales in Thousands</th>
                <th>Year Resale Value</th>
                <th>Vehicle Type</th>
                <th>Price in Thousands</th>
                <th>Engine Size</th>
                <th>Horsepower</th>
                <th>Wheelbase</th>
                <th>Width</th>
                <th>Length</th>
                <th>Curb Weight</th>
                <th>Fuel Capacity</th>
                <th>Fuel Efficiency</th>
                <th>Latest Launch</th>
                <th>Power Perf Factor</th>
            </tr>
            <tr>
                <td>{{invoiceFORM.InvoiceNo}}</td>
                <td>{{invoiceFORM.Manufacturer}}</td>
                <td>{{invoiceFORM.Model}}</td>
                <td>{{invoiceFORM.Sales_in_thousands}}</td>
                <td>{{invoiceFORM.__year_resale_value}}</td>
                <td>{{invoiceFORM.Vehicle_type}}</td>
                <td>{{invoiceFORM.Price_in_thousands}}</td>
                <td>{{invoiceFORM.Engine_size}}</td>
                <td>{{invoiceFORM.Horsepower}}</td>
                <td>{{invoiceFORM.Wheelbase}}</td>
                <td>{{invoiceFORM.Width}}</td>
                <td>{{invoiceFORM.Length}}</td>
                <td>{{invoiceFORM.Curb_weight}}</td>
                <td>{{invoiceFORM.Fuel_capacity}}</td>
                <td>{{invoiceFORM.Fuel_efficiency}}</td>
                <td>{{invoiceFORM.Latest_Launch}}</td>
                <td>{{invoiceFORM.Power_perf_factor}}</td>
            </tr>
        </table>
    </div>